<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <br>
   <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="assets/img/voiranime.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p> Voiranime est l'un des plus grands sites de streaming communautaire en France diffusant tous les animés les plus connus en VF et en VOSTFR.
        </p>
        <p>
          Grâce à Voiranime, nous pouvons parcourir l'histoire de multiples héros possédant tous des
          caractéristiques différentes.
        </p>
        <p>
          Et sur cette aplication, nous allons essayé de vous faire découvrir 
          différents personnages !
        </p>
       
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>