ion-row {
    text-align: center;
    }

ion-content.background{
    --background: black;
    --color:white;
    text-align: center;
}

ion-col img{
    height: 200px;
    width: auto;
}

ion-item{
    --background: black;
    color: white;
    
}

ion-toggle{
    border: 1px solid white;
    border-radius: 40px;
}